<!DOCTYPE html>
<html>
	<head>
		<title>DND Character Randomizer</title>
		<style>
			.container { position:relative; padding:0 0 0 55px; }
			#sidebar {
				float: left;
				top:0; bottom:0; left:0;
				border:1px solid #fff; width:150px; height:140px
			}
			#content { 
				border:1px solid #fff; width:600px;
				background: #fff;
				margin:5px 0 5px 0;
			}
			#footer { 
				border:1px solid #fff; width:600px;
				margin:5px 0 5px 0;
			}
		</style>
	</head>
	<body>
		
		<div class="container" align="center">

			<div id="sidebar" align="sidebar">
				<a href="{{ url_for('static', filename='traits.txt') }}">List of traits</a>
				<p>
				<a href="{{ url_for('static', filename='race.txt') }}">List of races and their stat bonuses</a>
				<p>
				<a href="mailto:alecdavidson@nau.edu">Contact Alec at alecdavidson@nau.edu</a>
			</div>
			
			<div id="content" align="center">
				Generate how many characters?
				(There are 11 different class options, repeats allowed on parties 12+)
				<form action="/" method="post">
                    <p>
					<input type="text" name="party" />
                    </p>
					<table>
					<td>
					<p>
					Re-Roll Stats under 10?
					</p>
					<div style="width:50px; text-align:left;align:center">
					<input type="radio" name="reroll" value="yes" checked> Yes
					<br>
					<input type="radio" name="reroll" value="no"> No
					</div>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
					<p>
					Roll Fate Core instead?
					</p>
					<div style="width:50px; text-align:left">
					<input type="radio" name="fate" value="yes"> Yes
					<br>
					<input type="radio" name="fate" value="no" checked> No
					</div>
					</td>
					</table>
					<br>
					<button type="submit" name="Randomize">Generate</button>
					<br>
					<br>
					<br>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						Results:
						<pre align="left">
							{% for message in messages %}

<table float:left>
{{message[0]['Field']}}
	{{message[0]['Value']}}
{{message[1]['Field']}}
	{{message[1]['Value']}}
{{message[2]['Field']}}
	{{message[2]['Value']}}
{{message[3]['Field']}}
	{{message[3]['Value']}}
{{message[4]['Field']}}
	{{message[4]['Value']}}
</table>
<table float:left>
{{message[5]['Field']}}
	{{message[5]['Value']}}
{{message[6]['Field']}}
	{{message[6]['Value']}}
{{message[7]['Field']}}
	{{message[7]['Value']}}
{{message[8]['Field']}}
	{{message[8]['Value']}}
</table>
<!---
<table>
<tr>
<td>{{message[0]['Field']}}</td>
<td></td>
</tr>
<tr>
<td></td>
<td>{{message[0]['Value']}}</td>
</tr>
<tr>
<td>{{message[1]['Field']}}</td>
<td></td>
</tr>
<tr>
<td></td>
<td>{{message[1]['Value']}}</td>
</tr>
<tr>
<td>{{message[2]['Field']}}</td>
<td></td>
</tr>
<tr>
<td></td>
<td>{{message[2]['Value']}}</td>
</tr>
<tr>
<td>{{message[3]['Field']}}</td>
<td></td>
</tr>
<tr>
<td></td>
<td>{{message[3]['Value']}}</td>
</tr>
<tr>
<td>{{message[4]['Field']}}</td>
<td></td>
</tr>
<tr>
<td></td>
<td>{{message[4]['Value']}}</td>
</tr>
</table>
--->
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
							{% endfor %}
						</pre>
					{% endif %}
				{% endwith %}
				</form>
			</div>
			
			<div id="footer" align="center">
				<a href="#top">Back to Top</a>
				<p>
				This site is not associated with Wizards, Dungeons and Dragons, or any of their affiliates.
				<p>
			</div>
			
		</div>
	</body>
</html>
